header {
    align-items: center;
    width:100%;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

header .logo {
    margin-top:10px;
    background-image: url(../../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width:60px;
    height:40px;
    transition: all 0.8s ease-in-out;
}

header .menu {
    padding: 15px 0;
    font-size: 0;
    list-style-type: none;
    display:block;
    cursor:pointer;
  }

  header .logo:hover {
    transform: rotate(360deg);
  }